# SEPE-specific, copied from GREQ0302203
ansible==6.5.0
# Workaround to address pyOpenSSL version issues with ansible-runner (see https://github.com/ansible/ansible-runner/issues/1138)
ansible-runner>=2.2.1
# Upstream hasn't packaged as collection yet: https://github.com/TerryHowe/ansible-modules-hashivault/issues/234
ansible-modules-hashivault==4.7.0
# Required a number of places including community.general
jmespath==1.0.1
# Required by community.general LDAP plugins
python-ldap==3.4.3
