# SEPE-specific, copied from GREQ0302203
ansible==6.7.0
# Workaround to address pyOpenSSL version issues with ansible-runner (see https://github.com/ansible/ansible-runner/issues/1138)
ansible-runner>=2.2.1
# Upstream hasn't packaged as collection yet: https://github.com/TerryHowe/ansible-modules-hashivault/issues/234
ansible-modules-hashivault==5.1.1
# Required a number of places including community.general
jmespath==1.0.1
# Required by community.general LDAP plugins
python-ldap==3.4.3

# CUCS and CURC-specific
ansible-sign==0.1.1
ncclient==0.6.15
paramiko==2.12.0
pyOpenSSL==23.3.0
toml==0.10.2
pexpect==4.9.0
python-daemon==3.0.1
pyyaml==6.0.1
six==1.16.0
